html{
  background-color: coral;
  transition: background-color 0.5s;
}
.win{
  background-color: mediumseagreen;
}
.lose{
  background-color: brown;
}
.draw{
  background-color: goldenrod;
}
h2{
  color: honeydew;
  display: flex;
  justify-content: center;
}
h5{
  color: honeydew;
  text-align: center;
}
h3{
  color:honeydew;
}
.rightpanel{
  float: right;
}
.leftpanel{
  float: left;
}
.buttons{
  text-align: center;
}
.button{
  border: none;
  background-color: inherit;
  transition: background-color 0.3s, font-size 0.3s, transform 0.6s;
  color: honeydew;
  padding: 28px 28px;
  font-size: 24px;
  display: inline-block;
}
.button:hover{
  background-color: orangered;
  font-size: 28px;
  transform: rotate(360deg);
}
#refresh{
  border: none;
  background-color: orange;
  color: rgb(228, 238, 234);
  padding: 12px 30px;
  position: absolute;
  bottom: 0;
  justify-content: center;
}